<%= div_for @post do %>

  <%= header_tag %>

  <div class="body">
    <p><%= body %></p>
  </div>

  <ul class="links">
    <li><%= edit_link %></li>
    <li><%= destroy_link %></li>
  </ul>

<% end %>
