<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= title %>
</p>

<p>
  <strong>Body:</strong>
  <%= body %>
</p>

<%= edit_link %> |
<%= back_link %>

<p><%= @block_content %></p>
